
/* Style for all html files */
body {
    background-image: url("../images/background-1.jpg");
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
main {
    background-color: white;
    border-radius: 3%;
}
h1 {
    font-weight: 700;
}
h2 {
    font-weight: 600;
}

/* To change between the HTML sections on index.html */
.display-none {
    display: none;
}


/* Timer- will display during Start Quiz and Quiz Questions portions */
#timer {
    text-align: right;
    font-weight: 500;
}


/* Start Page */
#start-page {
    text-align: center;
}

/* Quiz Page */
.answer-button {
    margin: 0.25%;
}


/* Scoreboard Page */
.scoreboard-button {
    margin: 0.25%;
}