/* Test to make sure linked properly; confirmed linked to both htmls; remove this line once we have CSS content that is still working */

/* Styles to be added */


/* need to make a style for wrong answers */
body {
    /* background-color: turquoise; */
    background-image: url("../images/background-1.jpg");
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
main {
    background-color: white;
    border-radius: 3%;
}
h1 {
    font-weight: 700;
}

/* To change between the HTML sections on index.html */
.display-none {
    display: none;
}
#timer {
    text-align: right;
    font-weight: 500;
}


/* Start Page */
#start-page {
    text-align: center;
}


/* Quiz Page */
.answer-button {
    margin: 0.25%;
}


/* Submit Score Page */


/* Scoreboard Page */
.scoreboard-button {
    margin: 0.25%;
}